<div class="container">
<form>
    <h1>Login</h1>
  <div class="form-group">
    <label for="userOne">UserName:</label>
    <input type="text" class="form-control" id="userOne" placeholder="Enter Your UserName" name="userOne">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
  </div>

  <span class="text-danger">{{loginError}}&nbsp;</span>
  <button type="button" class="btn btn-primary" (click)="login()">Login</button>
</form>
</div>