<section id="Bodysectionsportsservice"></section>
<section id="BodysectionsportsserviceOne">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h3>SPORTS SERVICES</h3>
      </div>
      <div class="w-100 d-block"></div>
      <div class="col-sm">
        <h3>TARGET AUDIENCE</h3>
        <p>Being a lifeguard is one of the most enjoyable jobs you could have. Imagine the immense pleasure and satisfaction that you will cherish when you save precious lives. It also comes with great responsibility as swimmers are putting their trust on you to save them when things don’t go too well. This is why Cobra Sports lifeguard training is a must for you so that you can be fully equipped to handle any situation that arises.</p>
      </div>
      <div class="col-sm">
        <img src="assets/image/i13.jpg" class="img-fluid mx-auto d-block"> 
      </div>
    </div>
  </div>
</section>