<section id="Bodysectionlifeguard"></section>
<section id="BodysectionlifeguardOne">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h3>HABC LEVEL 2 INTERNATIONAL AWARD IN POOL LIFEGUARD QUALIFICATION (PLQ)</h3>
      </div>
      <div class="w-100 d-block"></div>
      <div class="col-sm mt-3">
        <h3>TARGET AUDIENCE</h3>
        <p>Being a lifeguard is one of the most enjoyable jobs you could have. Imagine the immense pleasure and satisfaction that you will cherish when you save precious lives. It also comes with great responsibility as swimmers are putting their trust on you to save them when things don’t go too well. This is why Cobra Sports lifeguard training is a must for you so that you can be fully equipped to handle any situation that arises.</p>
        <p><a routingLink="#">Contact Us</a></p>
      </div>
      <div class="col-sm mt-3">
          <img src="assets/image/i4.jpg" class="img-fluid mx-auto d-block">
      </div>
      <div class="w-100 d-block"></div>
      <div class="col-sm mt-3">
          <img src="assets/image/i5.jpg" class="img-fluid mx-auto d-block">
      </div>
      <div class="col-sm mt-3">
          <h3>COURSE CONTENT</h3>
          <p>Our training program is packed with everything that you require from pool rescue techniques, health and safety in a swimming pool environment, lifeguarding theory, first aid and cardiopulmonary resuscitation (CPR). It is a very challenging program and will include having to swim at set speeds, being able to dive to the bottom of the pool as well as being able to lift casualties without any assistance.</p>
          <p><a routingLink="#">Contact Us</a></p>
      </div>
      <div class="w-100 d-block"></div>
      <div class="col-sm mt-3">
          <h3>DURATION</h3>
          <p>4-5 Days assessment. upon successful completion of the training all candidates will have to pass a practical and knowledge assessment conducted by highfield, who offer regulated, international and accredited qualifications”</p>
          <p><a routingLink="#">Contact Us</a></p>
        </div>
        <div class="col-sm mt-3">
            <img src="assets/image/i6.jpg" class="img-fluid mx-auto d-block">
        </div>
        <div class="w-100 d-block"></div>
        <div class="col-sm mt-3">
            <img src="assets/image/i12.jpg" class="img-fluid mx-auto d-block">
        </div>
        <div class="col-sm mt-3">
            <h3>DO YOU NEED A LIFEGUARD?</h3>
            <p>We provide lifeguard services for swimming pools, schools, hotels, health clubs and other institutions. All our male and female guards are certified by DAC And DCAS. Please contact us for more information.</p>
            <p><a routingLink="#">Contact Us</a></p>
        </div>
    </div>
  </div>

</section>