<div class="container">
  <div class="card">
  <form [formGroup]="employeeForm" name="employeeForm" (ngSubmit)="onSubmit()">
    <div class="card-header">
      Employee List
    </div>
    <div class="card-body">
     <div class="form-group">
        <label for="usernameOne">First Name:</label>
        <input type="text" class="form-control" id="usernameOne" placeholder="Enter Your First Name" name="usernameOne" formControlName="firstName" [ngClass]="{'is-invalid' : employeeForm.get('firstName').touched && employeeForm.get('firstName').invalid}">
        <div class="invalid-feedback">Please Enter Your First Name</div>
     </div>
     <div class="form-group">
        <label for="usernameTwo">Last Name:</label>
        <input type="text" class="form-control" id="usernameTwo" placeholder="Enter Your Last Name" name="usernameTwo" formControlName="lastName" [ngClass]="{'is-invalid' : employeeForm.get('lastName').touched && employeeForm.get('lastName').invalid}">
        <div class="invalid-feedback">Please Enter Your Last Name</div>
     </div>
     <div class="form-group">
        <label for="usernameThree">Email:</label>
        <input type="email" class="form-control" id="usernameThree" placeholder="Enter Your Email" name="usernameThree" formControlName="email" [ngClass]="{'is-invalid' : employeeForm.get('email').touched && employeeForm.get('email').invalid}">
        <div class="invalid-feedback">Please Enter Your Email</div>
     </div>
     <div class="form-group">
        <label for="usernameFour">Password:</label>
        <input type="password" class="form-control" id="usernameFour" placeholder="Enter Your Password" name="usernameFour" formControlName="password" [ngClass]="{'is-invalid' : employeeForm.get('password').touched && employeeForm.get('password').invalid}">
        <div class="invalid-feedback">Please Enter Your Password</div>
     </div>
    </div>
    <div class="card-footer">
     <button type="submit" class="btn btn-primary">Submit</button>
    </div> 
  </form>
</div>
</div>