<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>About</h3>
        <p>At cobra sports services, we believe that the greatest benefit a person can offer to a human being is in saving the most precious thing that they possess, their life! As a result we are passionate in equipping others with emergency life saving knowledge via our extensive course such as first aid and lifeguard at our state of the art training centre.</p>
      </div>
      <div class="col-sm-3 text-left">
          <h3>CATEGORIES</h3>
          <ul>
            <li><a routerLink="#">Home</a></li>
            <li><a routerLink="#">Basic life support</a></li>
            <li><a routerLink="#">Emergency first aid</a></li>
            <li><a routerLink="#">Automated EXTERNAL</a></li>
            <li><a routerLink="#">DEFIBRILLATOR</a></li>
          </ul>
      </div>
      <div class="col-sm-3 text-left">
          <h3>QUICK LINK</h3>
          <ul>
              <li><a routerLink="#">Home</a></li>
              <li><a routerLink="#">Lifeguard</a></li>
              <li><a routerLink="#">first aid</a></li>
              <li><a routerLink="#">Sport Services</a></li>
              <li><a routerLink="#">Contact Us</a></li>
          </ul>
        </div>
    </div>
  </div>
</section>