<!----<app-top></app-top>
<app-side></app-side>
<app-bottom></app-bottom>-->

<!---<app-nameeditor></app-nameeditor>-->
<app-header-cobra></app-header-cobra>
<router-outlet></router-outlet>
<app-footercobra></app-footercobra>
<!----<app-servicesfile></app-servicesfile>-->
<!----<app-servicefiletwo></app-servicefiletwo>-->
<!----<app-servicefilefour></app-servicefilefour>-->
<!----<button type="button" routerLink="/customers">Customer</button>
<button type="button" routerLink="/orders"+>Orders</button>
<button type="button" routerLink="/customers/customerdata">Customer Data</button>
<router-outlet></router-outlet>-->
<!---<app-kotak></app-kotak>-->
<!----<app-kotak></app-kotak>-->