<!----<app-top></app-top>
<app-side></app-side>
<app-bottom></app-bottom>-->



<!----<app-servicefilefour></app-servicefilefour>-->
<!----<button type="button" routerLink="/customers">Customer</button>
<button type="button" routerLink="/orders"+>Orders</button>
<button type="button" routerLink="/customers/customerdata">Customer Data</button>
<router-outlet></router-outlet>-->
<!--Ecommerce Ordering-->

<!--<app-upper></app-upper>
<app-middle></app-middle>-->
<!----<app-userstemplate></app-userstemplate>-->

<!--<app-user-out-put-two></app-user-out-put-two>-->
<!--<app-fulllogindetailstwo></app-fulllogindetailstwo>-->
<!--<app-heroes></app-heroes>-->
<!--<app-usershooks></app-usershooks>-->
<!--<app-servicefilesix></app-servicefilesix>-->
<!--<p>This Paragraph is a normal one</p>
<p appRedblack>This Paragraph is a customs one</p>-->
<!--<app-userlogin-one></app-userlogin-one>-->
<!--<app-bench1></app-bench1>
<app-bench2></app-bench2>
<app-bench3></app-bench3>-->
<!--<app-createemployee></app-createemployee>-->
<!--<app-createemployee-two></app-createemployee-two>-->
<!--<app-createemployeethree></app-createemployeethree>-->
<!--<app-createemployeefour></app-createemployeefour>-->
<!--<app-createemployeefive></app-createemployeefive>-->
<!--<app-createemployeesix></app-createemployeesix>-->
<!--<app-createuserngcontainer></app-createuserngcontainer>-->
<!--<app-createtemplateemployee></app-createtemplateemployee>-->
<!--<app-userlistdevice></app-userlistdevice>
<app-useroutputdevice></app-useroutputdevice>-->
<!--<p>This is Usama</p>
<p appGreenblack>Usama Love Green</p>-->
<!--<app-userreactiveformtest></app-userreactiveformtest>-->
<!--<app-view-component></app-view-component>-->
<app-usernavheader></app-usernavheader>
<!--<app-userdashboard></app-userdashboard>-->