<header>
  <div class="container">
    <div class="headerss">
      <div class="userText">
        <p>Facebook</p>
      </div>
      <form>
        <div class="headings">Email or Phone<br>
          <input type="text" id="userOne" name="userOne">
        </div>
        <div class="headingsOne">Password<br>
          <input type="password" id="userTwo" name="userTwo"><br>
          Forgetten Account?
        </div>
        <div class="buttons">
          <input type="submit" class="submit" value="log In">
        </div>  
    </form>
  </div>
  </div>
</header>