form{
    margin-top:3%;
    line-height: 40px;
    margin: 0 auto;
    width: 50%;
   
}
input{
    width: 80%;
    padding: 12px 20px;
    border-radius: 20px;
    border: 1px solid #737575;
}
button{
    background: #f00;
    color:#fff;
    border: 1px solid #f00;
    padding: 10px 25px;
    margin-top: 3%;
    font-weight: bold;
    border: 1px solid #f00;
    border-radius: 10px;
    text-align: left;
}