.formusersOne{
  margin-top:15px;
  margin-bottom: 15px;
  padding: 7px;
  width: 500px;
  border: 1px solid #000;
  border-radius: 20px;
}
.invalid-feedback{
  color:#f00;
  margin-bottom: 15px;
  font-weight: bold;
}