<form name="form" (ngSubmit)="onSubmit()" #f="ngForm">
  <label>Last Name</label><br>
  <input type="text" placeholder="Enter Your Name"  class="formusersOne" required name="LastName" placeholder="Last Name" [(ngModel)]="model.LastName"
  #LastName="ngModel"><br>
  <div *ngIf="f.submitted || (LastName.dirty || LastName.touched)" class="invalid-feedback">
    <div *ngIf="LastName.errors.required">Last Name is required</div>
  </div>
  <label>Password</label><br>
  <input type="password" placeholder="Enter Your Password" class="formusersOne" required minlength="10" name="password" placeholder="password" [(ngModel)]="model.password"
  #password="ngModel"><br>
  <div *ngIf="f.submitted || (password.dirty || password.touched)" class="invalid-feedback">
    <div *ngIf="password.errors.required">Password Name is required</div>
  <div *ngIf="password.errors.minlength">password is required with 10 characters</div>
</div>
  <button type="submit">Sign In</button>
</form>
