<footer>
  <div class="container">
    <div>
      <ul>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Log In</a></li>
        <li><a href="#">Messenger</a></li>
        <li><a href="#">Facebook Lite</a></li>
        <li><a href="#">Find Friends</a></li>
        <li><a href="#">People</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Pages</a></li>
        <li><a href="#">Page Cateogries</a></li>
        <li><a href="#">Places</a></li>
        <li><a href="#">Games</a></li>
        <li><a href="#">Location</a></li>
        <li><a href="#">Market PLace</a></li>
        <li><a href="#">Market PLace</a></li>
      </ul>

      <ul>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Local</a></li>
        <li><a href="#">Fundraiser</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Create Ad</a></li>
        <li><a href="#">Create Page</a></li>
        <li><a href="#">Developers</a></li>
        <li><a href="#">carrers</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Places</a></li>
        <li><a href="#">Cookies</a></li>
        <li><a href="#">Ad Choices</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Account Secuirty</a></li>
      </ul>
      <ul>
        <li><a href="">Login Help</a></li>
        <li><a href="">Help</a></li>
      </ul>
    </div>
  </div>
</footer>