<ul>
<ng-container>
  <li *ngFor= "let hero of device"
  [class.selected]="hero === computer"
  (click)="myfunction(hero)">
    <div>{{hero.id}}</div>
    <div>{{hero.name}}</div>
    
  </li>
  <ng-template #devices>
    <div>Loading...</div>
</ng-template>
</ng-container>

</ul>
<div *ngIf="hero else loading">
    {{hero.id}}
    {{hero.name}}
  </div>
  
<ng-container *ngTemplateOutlet="devices"></ng-container>
<ng-template #devices><span>
  <ul [class.users]>
  <li *ngFor="let hero of device">
  {{hero.id}}
  {{hero.name}}
</li>
</ul>
</span>

</ng-template>
<app-hdfc [hero] = "computer"></app-hdfc>